.root {
	border-radius: 8px;
	border: 1px solid var(--dark-color);
	max-width: max-content;
	margin: auto
}

.root h1 {
	border-bottom: 1px solid black;
	font-weight: bold;
	font-size: 100%;
	margin: 0;
	padding: 4px;
	text-align: center;
	width: auto
}