#root {
	padding: 12px;
	border-radius: 12px;
	border: 1px solid var(--dark-color);
	width: max-content;
}

#root > h1 {
	margin: auto auto 12px auto;
	width: max-content;
	font-weight: bold;
	font-size: 100%
}