#root {
	padding: 12px;
	border-radius: 12px;
	border: 1px solid var(--dark-color);
}

#root > h1 {
	margin: auto auto 12px auto;
	width: max-content;
	font-weight: bold;
	font-size: 100%
}

#root input {
	vertical-align: top
}

#root label {
	margin-left: 6px
}