.value {
	background-color: #4c4c4c
}

.value:active {
	background-color: var(--gray-color)
}

.number {
	background-color: var(--gray-color)
}

.number:active {
	background-color: #a5a5a5
}

.operation {
	background-color: #ff9d0b
}

.operation:active {
	background-color: #cb7d08
}

.selected {
	margin: 1px
}

.large {
	grid-column: span 2;
}

.bottomLeft {
	border-bottom-left-radius: 12px
}