.paperTape > .list {
	height: 100%;
}

.paperTape > .footer {
	width: auto;
	padding: 6px;
	border-top: 1px solid black
}

.paperTape > .footer > button {
	display: block;
	margin-left: auto
}

.calculator {
	background-color: var(--dark-color);
	border: 1px solid var(--dark-color);
	border-radius: 8px;
	color: white
}