#root {
	--dark-color: #383838;
	font-family: sans-serif
}

#calculator {
	border: 1px solid var(--dark-color);
	color: white;
	border-radius: 12px;
	background-color: var(--dark-color);
	flex-grow: 1
}

#display {
	padding: 0 12px;
	overflow-x: scroll;
	text-align: right;
	font-size: 300%
}

#buttons {
	gap: 1px;
	margin-left: auto;
	max-width: min-content;
	display: grid;
	grid-auto-rows: 48px
}

#buttons > button {
	--gray-color: #696969;
	border: none;
	font-size: 125%;
	color: inherit
}

.value-button {
	background-color: #4c4c4c
}

.value-button:active {
	background-color: var(--gray-color)
}

.number-button {
	background-color: var(--gray-color)
}

.number-button:active {
	background-color: #a5a5a5
}

.operation-button {
	background-color: #f2a33c
}

.operation-button:active {
	background-color: #c0812e
}

.selected {
	margin: 1px
}

#zero-button {
	grid-column: span 2;
}

.bottom-left-button {
	border-bottom-left-radius: 12px
}

#equal-button {
	border-bottom-right-radius: 12px
}

.panel {
	padding: 12px;
	border-radius: 12px;
	border: 1px solid var(--dark-color);
	max-width: max-content
}

h1 {
	margin: auto;
	width: max-content;
	font-weight: bold;
	font-size: 100%
}